/*
Цветовая палитра:
черный цвет текста #212121
серый цвет текста #757575
белый цвет текста #FFFFFF
голубой цвет #2196F3
цвет фона #F5F4FA
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --background-color: #f5f4fa;
  --fotter-link-color: rgba(255, 255, 255, 0.6);
}

/*Убираем точки у элементов списка  */
ul {
  list-style: none;
}

/* Меняем цвет бекграунда и текста */
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Красим часть Лого */
.logo-web {
  color: var(--accent-color);
}

/* Шрифт лого */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Меняем цвет ссылок*/
.site-nav .link,
.filter .filter-button,
.item-link,
.logo {
  color: var(--primary-text-color);
}

/* Меняем шрифт в навигации */
.site-nav .link,
.site-nav .address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .address:hover,
.site-nav .address:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* меняем цвет кнопок */
.filter .filter-button:hover,
.filter .filter-button:focus,
.hero .button {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

/* Меняем цвет текста в абзацах и почты и телефона*/
.secondary-text,
.site-nav .address {
  color: var(--secondary-text-color);
}

/* Меняем цвет текста ссылок в подвале*/

.footer .link {
  color: var(--fotter-link-color);
}

.footer .address {
  color: var(--second-accent-color);
}

/* Меняем шрифт героя и бекграунд */
.hero {
  background-color: #212121;
}
